# Бинарные файлы приложения
/myapp

# Бинарные файлы для Windows, Linux, macOS
*.exe
*.exe~
*.dll
*.so
*.dylib

# Папки сборки и артефакты
/build/
bin/
obj/

# Логи и временные файлы
*.log
*.tmp
*.test

# Зависимости, если используете vendor (если хотите их игнорировать)
vendor/

# Файлы настроек IDE, редакторов
.idea/
.vscode/
*.swp

# Системные файлы
.DS_Store
Thumbs.db

# Docker файлы, которые не нужно отслеживать
docker-compose.override.yml

# Файлы с переменными окружения
.env

